<div class="container">

	<div class="row"><h3><%= link_to 'Back to Lists', lists_path %></h3></div>
	<div class="row"><h1><%= @list.title %></h1></div>

	<div class="row">
		<%= form_for(@list) do |f| %>
		  <% if @list.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>
		      <ul>
		        <% @list.errors.full_messages.each do |msg| %>
		          <li><%= msg %></li>
		        <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <div class="row append"><button class="small_button" id="add_new_item_botton">Add New Item</button></div>


			<div class="item_form_list">
		    <%= f.fields_for :tasks do |t| %>
			    <div class="row item_field">
			    	<div class="col-md-1 check_box"><%= t.check_box :complete %></div>
			      <div class="col-md-4 name_field"><%= t.text_field :name %></div>
			      <div class="col-md-7 date_field"><%= t.date_select :due_date %></div>
			    </div>
		    <% end %>
			</div>
		  <div class="row">
		    <%= f.submit %>
		  </div>
		  
		<% end %>

	
	</div><!-- end row -->

</div>
<!-- end container -->