<h1>New list</h1>

<%= form_for(@list) do |f| %>
	<%= f.label :title, "New List Title" %>
	<%= f.text_field :title %>
	<div class="hidden_button"><%= f.submit %></div>
<% end %>



<%= link_to 'Cancel', lists_path %>
